<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
      
	<th:block layout:fragment="content">
	
		<script type="text/javascript">
			var page = 1;
			var totalPages = 0;
			var isLoading = false;
	    	$(function() {
	    		getColorList();
	    		/* getAttributes(); */
	    		updateTotalCount();
	    		totalPages = $("#totalPages").val();
	    		$(window).scroll(function() {
	    	        if (page < totalPages && !isLoading && ($(window).scrollTop() >= $(document).height() - $(window).height() - 110)) {
	    	        	getTokenInfoList(++page);
	    	        }
	    	    });
	    		
	    		$("input[name=grade]").on("change", function() {
	    			search();
	    		});
	    		
	    		$(".item.filter.color, .attributeWrap").on("change", "input[type=checkbox]", function()  {
	    			search();
	    		});

	    		$("input[name=keyword]").on("keyup", function(e) {
	    			if (e.keyCode == 13) {
	    				search();
	    			}
	    		});
	    		
	    		$(".btnTop").on("click", function(e) {
	    			e.preventDefault();
	    			$('html, body').animate({scrollTop: '0'}, 1000);
	    		});
	    		
	    		$(".slideClose").on("click", function(e) {
	    			e.preventDefault();
	    			$(".filterArea").removeClass("on");
	    			$("body").removeClass("screenOut")
	    		})
	    		
	    		$(".btnFilter").on("click", function(e) {
	    			e.preventDefault();
	    			$(".filterArea").toggleClass("on");
	    			$("body").toggleClass("screenOut")
	    		})
	    	})
	    	
	    	// 리스트 불러오기
	    	function getTokenInfoList(searchPage, updateColor) {
	    		isLoading = true;
				var $tokenSearchForm = $("#tokenSearchForm");
				var rows = $tokenSearchForm.find("input[name=rows]").val();
				var type = $tokenSearchForm.find("input[name=type]").val();
				var keyword = $("input[name=keyword]").val();
				$tokenSearchForm.find("input[name=keyword]").val(keyword);
				var gradeList = new Array();
				// 등급
				$("input[name=grade]:checked").each(function() {
					var grade = $(this).data('grade');	
					gradeList.push(grade);
				});
				
				var values = new Array();
				// 색
				$("input[name=color]:checked").each(function() {
					var color = $(this).data('color');	
					values.push(color);
				});
				
				// 특성
				$("input[name=attribute]:checked").each(function() {
					var attribute = $(this).data('attribute');	
					values.push(attribute);
				});
				
				$("input[name=totalDocs]").remove();
				$.ajax({
					url : contextPath + "/token/subList",
					type: "GET",
					dataType: "html",
					data: { rows : rows, page : searchPage, type : type, gradeList: gradeList, keyword: keyword, values:values},
					success: function(html) {
						$(".tokenItemWrap").append(html);	
						totalPages = $("input[name=refreshTotalPages]").val();
						updateTotalCount();
						isLoading = false;
					}, 
					error: function() {
						isLoading = false;
					}
				});
			}
	    	
	    	// 검색
	    	function search() {
	    		$(".tokenItemWrap").html("");
	    		page = 1;
	    		getTokenInfoList(page);
	    		getColorList();
	    	}
	    	
	    	function updateTotalCount() {
	    		var totalDocs = $("input[name=totalDocs]").val();
				$("#totalCount").text(comma(totalDocs));
	    	}
	    	
    	</script>
    	<div class="tokenInfoWrap">
    		<div class="tokenFilterWrap">
    			<div class="item filter search">
    				<input type="text" name="keyword" placeholder="MTDZ 번호, 지갑주소로 검색해주세요 :)" th:value="${ req.keyword }">
    				<a href="javascript:search()" class="btnSearch">
	                	<span class="icon_img"><span class="blind">검색하기</span></span>
	                </a>
    			</div>
    			<div class="item">
    				<a href="#" class="btnFilter">
	                	<span class="icon_filter"><span class="blind">필터</span></span>
	                </a>
    			</div>
	    	</div>
		    <div>
		    	<span class="tokenTotalCnt">Total : <em id="totalCount"></em></span>
				<ul class="tokenItemWrap">
					<th:block th:include="token/include/list"></th:block>
				</ul>
			</div>
    	</div>
    	
		<form id="tokenSearchForm">
			<input type="hidden" name="type" th:value="${ req.type }"/>
			<input type="hidden" name="rows" th:value="${ req.rows }"/>
			<input type="hidden" name="page" th:value="${ req.page }"/>
		</form>
		<input type="hidden" name="totalPages" id="totalPages" th:value="${ totalPages }"/>
		<input type="hidden" name="totalDocs" th:value="${ totalDocs }"/> 
		
		<div class="filterArea">
			<div class="btnClose">
	            <a href="" class="slideClose iconS"><span class="blind">팝업 닫기</span></a>
	        </div>
			<div class="tokenFilterWrap">
				<div class="itemWrap open">
	    			<div class="item tit">grade</div>
	    			<div class="item filter grade">
	    				<ul>
	    					<li th:each="grade : ${ gradeList }">
	    						<div class="check">
	    							<input type="checkbox" th:id="${ grade }" th:data-grade="${ grade }" name="grade">
	    							<label th:for="${ grade }" th:text="${ grade.description }"></label>
	    						</div>
	    					</li>
	    				</ul>
	    			</div>
    			</div>
    			
    			<div class="itemWrap open">
	    			<div class="item tit">color</div>
	    			<div class="item filter color">
	    			</div>
    			</div>
    			
    			<div class="attributeWrap">
    			
    			</div>
    			
	    	</div>
		</div>
	</th:block>
</html>