<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
      
	<th:block layout:fragment="content">
	
		<script type="text/javascript">
			var page = 1;
			var totalPages = 0;
			var isLoading = false;
	    	$(function() {
	    		totalPages = $("#totalPages").val();
	    		$(window).scroll(function() {
	    	        if (page < totalPages && !isLoading && ($(window).scrollTop() >= $(document).height() - $(window).height() - 50)) {
	    	        	getTokenInfoList(++page);
	    	        }
	    	    });
	    		
	    		$("input[name=grade]").on("change", function() {
	    			search();
	    		});
	    		
	    		$("input[name=keyword]").on("keyup", function(e) {
	    			if (e.keyCode == 13) {
	    				search();
	    			}
	    		});
	    		
	    		$(document).on("input[name=keyword]", function() {
	    	        $(this).val( $(this).val().replace(/[^0-9]/gi,"") );
	    	    });
	    	})
	    	
	    	function getTokenInfoList(searchPage) {
	    		isLoading = true;
				var $tokenSearchForm = $("#tokenSearchForm");
				var rows = $tokenSearchForm.find("input[name=rows]").val();
				var type = $tokenSearchForm.find("input[name=type]").val();
				var keyword = $("input[name=keyword]").val();
				$tokenSearchForm.find("input[name=keyword]").val(keyword);
				var gradeList = new Array();
				$("input[name=grade]:checked").each(function() {
					var grade = $(this).data('grade');	
					gradeList.push(grade);
				});
				
				$.ajax({
					url : contextPath + "/token/subList",
					type: "GET",
					dataType: "html",
					data: { rows : rows, page : searchPage, type : type, gradeList: gradeList, keyword: keyword},
					success: function(html) {
						$(".tokenItemWrap").append(html);	
						totalPages = $("input[name=refreshTotalPages]").val();
						isLoading = false;
					}, 
					error: function() {
						isLoading = false;
					}
				});
			}
	    	
	    	// 검색
	    	function search() {
	    		$(".tokenItemWrap").html("");
	    		getTokenInfoList(page);
	    	}
    	</script>
    	<div class="tokenInfoWrap">
    		<div class="tokenFilterWrap">
    			<div class="item tit">등급</div>
    			<div class="item filter">
    				<ul>
    					<li th:each="grade : ${ gradeList }">
    						<div class="check">
    							<input type="checkbox" th:id="${ grade }" th:data-grade="${ grade }" name="grade">
    							<label th:for="${ grade }" th:text="${ grade.description }"></label>
    						</div>
    					</li>
    				</ul>
    			</div>
    			
    			<div class="item tit">검색</div>
    			<div class="item filter search">
    				<input type="number" name="keyword" placeholder="MTDZ 번호로 검색해주세요 :)" th:value="${ req.keyword }">
    				<a href="javascript:search()" class="btnSearch">
	                	<span class="icon_img"><span class="blind">검색하기</span></span>
	                </a>
    			</div>
	    	</div>
		    <div>
				<ul class="tokenItemWrap">
					<th:block th:include="token/include/list"></th:block>
				</ul>
			</div>
    	</div>
    	
		<form id="tokenSearchForm">
			<input type="hidden" name="type" th:value="${ req.type }"/>
			<input type="hidden" name="rows" th:value="${ req.rows }"/>
			<input type="hidden" name="page" th:value="${ req.page }"/>
			<input type="hidden" name="keyword" th:value="${ req.keyword }"/>
		</form>
		<input type="hidden" name="totalPages" id="totalPages" th:value="${ totalPages }"/> 
	</th:block>
</html>