<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<script type="text/javascript">
			var page = 1;
			var totalPage = '${ totalPage }';
			var isLoading = false;
	    	$(function() {
	    		$(window).scroll(function() {
	    	        if (page < totalPage && !isLoading && ($(window).scrollTop() >= $(document).height() - $(window).height() - 110)) {
	    	        	console.log('?')
	    	        }
	    	        	
	    	    });
	    	})
    	</script>
	    <div>
			<ul class="tokenInfoWrap">
				<th:block th:include="token/include/list"></th:block>
			</ul>
		</div>
		
		
		<form id="tokenSearchForm">
			<input type="hidden" id="type" th:value="${ req.type }"/>
			<input type="hidden" id="rows" th:value="${ req.rows }"/>
			<input type="hidden" id="page" th:value="${ req.page }"/>
		</form>
	</th:block>
</html>