<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div class="tokenInfoWrap" style="max-width:600px;">
			<div class="tokenTransferWrap">
				<ul>
					<li class="transferItem" th:each="transfer : ${ tokenTransferList }">
						<div class="tokenImgWrap">
							<img th:src="${transfer.imageUrl}" src=""/>
						</div>
						<div class="tokenDescWrap">
							<h3 class="tit" th:text="'MTDZ #'+${transfer.tokenId}"></h3>
							<span class="transferDt" th:text="${ #dates.format(transfer.transferDate, 'yyyy-MM-dd HH:mm') }"></span>
							<span class="from" th:text="${transfer.from}"></span>
							<div class="transferArrow">
								<div class="indicator">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
							<span class="to" th:text="${transfer.to}"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</th:block>