<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
	<script type="text/javascript">
	</script>
	<header id="header">
		<div class="headerWrap">
			<a href="#" class="subTopMenu"><span class="blind">메뉴열기</span></a>
			<h1><a href="/main">MTDZ LOG</a></h1>
		</div>
	</header>
	
	<div class="menuArea">
		<div class="btnClose">
            <a href="" class="slideClose iconS"><span class="blind">메뉴 닫기</span></a>
        </div>
        <div class="menuList">
        	<div class="userInfo" sec:authorize="isAuthenticated()">
        		<h3 th:text="${ session.sessionName }"></h3>
        		<a class="logout" href="/logout">로그아웃</a>
        	</div>
        	<ul>
        		<li><a href="/main" th:class="${#httpServletRequest.requestURI == '/main' ? 'on':''}">Home</a></li>
        		<!-- <li sec:authorize="isAnonymous()"><a href="/login" th:class="${#httpServletRequest.requestURI == '/login' ? 'on':''}">로그인</a></li> -->
        		<li><a href="/token/list" th:class="${#httpServletRequest.requestURI == '/token/list' ? 'on':''}">도감</a></li>
        		<li><a href="/token/ranking" th:class="${#httpServletRequest.requestURI == '/token/ranking' ? 'on':''}">홀더랭킹</a></li>
				<li><a href="/token/transfer" th:class="${#httpServletRequest.requestURI == '/token/transfer' ? 'on':''}">전송이력</a></li>
        	</ul>
        </div>
	</div>
</th:block>