<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <th:block th:fragment="headFragment">
    	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
			<title>메토드 도감::MTDZ-LOG</title> 
			<link rel="stylesheet" th:href="@{/css/common.css?dummy=0.01}"></link>
			<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
			<meta name="theme-color" content="#fdd55b">
			<meta name="title" content="메토드 도감::MTDZ-LOG" />
			<meta name="description" content="당신이 원하는 메타토이드래곤즈를 찾아보세요">
			<meta property="og:title" content="메토드 도감::MTDZ-LOG" />
			<meta property="og:type" content="website" />
			<meta property="og:description" content="당신이 원하는 메타토이드래곤즈를 찾아보세요" />
			<meta property="og:url" content="yunhj.stie" />
			<meta property="og:image" th:content="@{/images/dragon/xpos.png}"/> 
			<script type="text/javascript" charset="utf-8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script type="text/javascript" charset="utf-8" th:src="@{/js/token.js?dummy=0.01}"></script>
			
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-PWWW9ZCPEK"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			
			  gtag('config', 'G-PWWW9ZCPEK');
			</script>
		</head>
		
		<!-- 로딩 -->
		<div class="loadingWrap">
	        <div class="loadingArea">
	            <span class="icon xposDragon1"></span>
	            <span class="icon xposDragon2"></span>
	            <span class="icon xposDragon3"></span>
	            <span class="icon xposDragon4"></span>
	        </div>
    	</div>
    	<!-- //로딩 -->
    	
    	<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    </th:block>
</html>