<script type="text/javascript" th:inline="javascript">

	/*<![CDATA[*/
	var seq = /*[[ ${seq} ]]*/;
	/*]]*/


    $(function() {
        var swiper = new Swiper('#ranking_' + seq, {
            slidesPerView: 'auto',
            spaceBetween: 10,
            loop : false,
            pagination : false
        });
    });
</script>

<div class="tokenItem swiper-slide" th:each="token : ${contents}">
    <img th:src="${token.imageUrl}" src=""/>
</div>

<div class="tokenItem swiper-slide moreBtn">
	<a th:href="@{|/token/list?keyword=${address}|}"><img th:src="@{/images/common/icons-right-arrow.png}" src=""/></a>   
</div>

