
<li class="item" th:each="ranking : ${contents}">
    <div class="ownerInfo">
        <div th:text="${ ranking.seq }" class="rankSeq"></div>
        <div th:text="${ ranking.owner }" class="ownerAddress" th:data-address="${ ranking.owner }" th:data-seq="${ ranking.seq }"></div>
        <div th:text="${ ranking.tokenCount }" class="tokenCount"></div>
    </div>
    <div th:id="'ranking_'+${ ranking.seq }" class="ownerTokenList swiper">
        <div class="ownerTokenItemWrap swiper-wrapper"></div>
    </div>
</li>

<input type="hidden" name="refreshTotalPages" th:value="${ totalPages }"/>
<input type="hidden" name="totalDocs" th:value="${ totalDocs }"/>